/* utilities */

* {
  margin: 0;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: 0;
}

*::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: "Chronicle Display Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("Chronicle Display Semibold"),
    url("./fonts/chronicle-display-cufonfonts-webfont/Chronicle Display Semibold.woff")
      format("woff");
}

@font-face {
  font-family: "Chronicle Display Black";
  font-style: normal;
  font-weight: normal;
  src: local("Chronicle Display Black"),
    url("./fonts/chronicle-display-cufonfonts-webfont/Chronicle Display Black.woff")
      format("woff");
}

@font-face {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Bold ☞"),
    url("./fonts/gilroy-bold-cufonfonts-webfont/Gilroy-Bold.woff")
      format("woff");
}

@font-face {
  font-family: "Gilroy-Regular ☞";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Regular ☞"),
    url("./fonts/gilroy-bold-cufonfonts-webfont/Gilroy-Medium.woff")
      format("woff");
}

:root {
  --col-2: #fbd784;
  --col-3: #0b1d26;
  --font-1: "Chronicle Display Semibold";
  --font-2: "Chronicle Display Black";
  --font-3: "Gilroy-Bold";
  --font-4: "Gilroy-Regular ☞";
}
body {
  color: #ffffff;
  font-family: "Gilroy-Bold";
  background-color: var(--col-3);
  line-height: 2rem;
}
section {
  max-width: 120rem;
  margin: auto;
}

/* utilities */
.yellow-line::before {
  content: "";
  border: solid 1px var(--col-2);
  width: 4.5rem;
  display: inline-block;
  margin: 0 2rem 0.3125rem 0;
}

.yellow-line {
  color: var(--col-2);
  font-size: 0.9rem;
  line-height: 1.5rem;
  letter-spacing: 0.375rem;
  text-transform: uppercase;
}

/* section-1 */

.section-1 {
  height: 150vh;
  max-height: 62.5rem;
}
/* background */
.section-1 .background {
  height: 140vh;
  max-height: 62.5rem;
}
.section-1 .background img {
  width: 130vw;
  position: absolute;
  left: -10vw;
  height: auto;
}

.section-1 .background .image-1::before {
  content: "";
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    20deg,
    rgba(11, 29, 38, 0) 31.06%,
    #0b1d26 108.93%
  );
}
.section-1 .background .image-1 {
  top: 0;
  width: 100vw;
  height: 70vh;
  z-index: 0;
}

.section-1 .background .image-2 {
  top: 40vh;
}
.section-1 .background .image-3 {
  z-index: 2;
  top: 70vh;
}
.section-1::after {
  content: "";
  position: absolute;
  height: 90vh;
  width: 100%;
  z-index: 5;
  bottom: 0;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 61.38%);
}

/* navbar */
.section-1 > .navbar > * {
  transition: 300ms ease-in-out;
  cursor: pointer;
  fill: #ffffff;
}

.section-1 > .navbar > :not(:first-child):hover {
  color: var(--col-2);
  fill: var(--col-2) !important;
}
.section-1 > .navbar > h1 {
  font-family: "Chronicle Display Black";
  font-size: 2rem;
  line-height: 2.25rem;
  letter-spacing: 1%;
}

.section-1 > .navbar > span:hover {
  transform: translateY(-0.5rem);
}
.section-1 > .navbar > :last-child {
  font-size: 1.1rem;
}
/*  content */
.section-1 > .content {
  top: 4rem;
}
.section-1 > .content > h1 {
  font-family: "Chronicle Display Black";
  font-size: 3.375rem;
  line-height: 4.35rem;
  max-width: 18ch;
}

@media (min-width: 765px) {
  .section-1 > .navbar {
    margin-bottom: 6rem;
  }
  .section-1 > .background img {
    width: 105vw;
    left: 0;
  }
  .section-1 > .background > .image-2 {
    top: 25vh;
  }
  .section-1 > .background > .image-3 {
    top: 60vh;
  }
  .section-1 > .content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (min-width: 1066px) {
  .section-1 > .background img {
    width: 105vw;
    left: -4vw;
  }
  .section-1 > .navbar {
    padding: 3rem 3rem 0 3rem !important;
  }
  .section-1 > .content > h1 {
    font-size: 4.5rem;
    line-height: 5.6rem;
  }
}

/* section 2 */
.section-2 {
  width: 90%;
  counter-reset: section;
}
.section-2 .flex-image {
  max-width: 600px;
  height: 420px;
  display: flex;
  align-items: center;
}
.section-2 .flex-image > img {
  width: 100%;
  height: auto;
}
.section-2 > div > .flex-item {
  margin: 4rem 0 12.5rem 0;
}
.section-2 > div > .flex-item > div::before {
  counter-increment: section;
  content: "0" counter(section);
  line-height: 15rem;
  height: 15rem;
  font-size: 15rem;
  opacity: 0.1;
  position: absolute;
  left: -8.5rem;
  top: -5rem;
}
.section-2 .flex-item > div {
  max-width: 34.375rem;
  margin: 0 auto 0 auto;
  position: relative;
}
.section-2 .flex-item > div > h1 {
  font-family: var(--font-1);
  font-size: 4rem;
  margin-top: 2rem;
}
.section-2 .flex-item > div > :last-child {
  color: var(--col-2);
}
.section-2 .flex-item > div > :last-child > svg {
  transform: rotate(270deg);
  color: #0b1d26;
  fill: var(--col-2);
}
@media (min-width: 1065px) {
  .section-2 > div {
    margin: 5rem 0 15rem 0;
    gap: 4rem;
  }
  .section-2 > div > .flex-image {
    max-width: 35.375rem;
    width: 39%;
    height: 38.75rem;
  }
  .section-2 > div > .flex-image > img {
    height: 100%;
    width: auto;
  }
  .section-2 > div > .flex-item {
    margin: 0;
    align-self: center;
  }
  .section-2 > div > .flex-item > div {
    width: 77%;
  }
}
/* section 3 */
.section-3 {
  width: 90%;
  align-items: baseline;
  margin-bottom: 3rem;
  gap: 3rem;
}
.section-3 > ul {
  list-style-type: none;
}
.section-3 > :first-child > :first-child {
  font-size: 2rem;
  font-family: var(--font-1);
  margin-bottom: 1rem;
}
.section-3 > :first-child > :nth-child(2) {
  max-width: 25ch;
  margin-bottom: 3rem;
}
.section-3 > :first-child > :last-child {
  max-width: 32ch;
  opacity: 0.1;
  margin-top: auto;
}

.section-3 > :is(:nth-child(2), :last-child) > :first-child {
  color: var(--col-2);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
