/* utilities */

* {
  margin: 0;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: "Chronicle Display Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("Chronicle Display Semibold"),
    url("./fonts/chronicle-display-cufonfonts-webfont/Chronicle Display Semibold.woff")
      format("woff");
  font-display: optional;
}

@font-face {
  font-family: "Chronicle Display Black";
  font-style: normal;
  font-weight: normal;
  src: local("Chronicle Display Black"),
    url("./fonts/chronicle-display-cufonfonts-webfont/Chronicle Display Black.woff")
      format("woff");
  font-display: optional;
}

@font-face {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Bold ☞"),
    url("./fonts/gilroy-bold-cufonfonts-webfont/Gilroy-Bold.woff")
      format("woff");
  font-display: optional;
}

img {
  width: 100%;
  height: 100%;
}
svg {
  vertical-align: middle;
}

/* global variables */
:root {
  --clr-1: #fff;
  --clr-2: #fbd784;
  --clr-3: #0b1d26;
  --font-family-1: "Chronicle Display Semibold", sans-serif;
  --font-family-2: "Chronicle Display Black", sans-serif;
  --font-family-3: "Gilroy-Bold", sans-serif;

  --font-size-1: 0.9rem;
  --font-size-2: 2rem;
  --font-size-3: 1.1rem;
  --font-size-4: 3.375rem;
  --font-size-5: 4.5rem;
  --font-size-6: 15rem;
  --font-size-7: 4rem;
  --font-size-8: 1.5rem;

  --line-height-1: 2rem;
  --line-height-2: 1.5rem;
  --line-height-3: 2.25rem;
  --line-height-4: 4.35rem;
  --line-height-5: 5.6rem;
  --line-height-6: 15rem;
  --line-height-7: 1.375rem;
}
body {
  color: var(--clr-1);
  font-family: var(--font-family-3);
  background-color: var(--clr-3);
  line-height: var(--line-height-1);
  content-visibility: auto;
}

/* global classes */
.section {
  width: min(90%, 90rem);
  margin-inline: auto;
}
.yellow-line {
  color: var(--clr-2);
  font-size: var(--font-size-1);
  line-height: var(--line-height-2);
  letter-spacing: 0.375rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.yellow-line::before {
  content: "";
  width: 4.5rem;
  border: solid 1px var(--clr-2);
}

/* section-1 */

.header {
  --w-min: 40rem;
  --max-width: 120rem;
  --ar-figure: 1920/2800;
  --h-figure: calc(
    max(var(--w-min), min(var(--max-width), 100vw)) / (var(--ar-figure))
  );
  max-width: 120rem;
  height: var(--h-figure);
  margin-inline: auto;
  margin-bottom: 25rem;
  position: relative;
}

.header::after {
  content: "";
  width: 100%;
  height: 50rem;
  position: absolute;
  left: 0;
  bottom: -20rem;
  z-index: 4;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 61.38%);
}

.header-background {
  position: absolute;
  width: 100%;
  height: 100%;
}
.header-background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    20deg,
    rgba(11, 29, 38, 0) 31.06%,
    #0b1d26 108.93%
  );
}

.header-image {
  position: absolute;
  display: block;
  width: 100%;
  height: calc(
    max(var(--w-min), min(var(--max-width), 100vw)) / (var(--aspect-ratio))
  );
}

.header-image img {
  -o-object-fit: cover;
  object-fit: cover;

  -o-object-position: 30% 0;

  object-position: 30% 0;
}
@media (min-width: 720px) {
  .header-image img {
    -o-object-position: left;
    object-position: left;
  }
}

.header-image-1 {
  --aspect-ratio: 360/284;
}

.header-image-2 {
  --aspect-ratio: 360/267;
  top: 42%;
}

.header-image-3 {
  --aspect-ratio: 360/174;
  --img-top: 0.6;

  top: calc(var(--img-top) * var(--h-figure));
  z-index: 3;
  position: -webkit-sticky;
  position: sticky;
}
.header-image-3::after {
  content: "";
  width: 100%;
  height: 10rem;
  position: absolute;
  top: 95%;
  left: 0;
  background: var(--clr-3);
}
/* 720px */
@media (min-width: 720px) {
  .header {
    --ar-figure: 1920/2620;
  }
  .header-image-2 {
    top: 38%;
  }
  .header-image-3 {
    --img-top: 0.5;
  }
}
/* 1080px */
@media (min-width: 1080px) {
  .header {
    --ar-figure: 1920/2320;
  }
  .header-image-2 {
    top: 30%;
  }
  .header-image-3 {
    --img-top: 0.4;
  }
}
/* 1440px */
@media (min-width: 1440px) {
  .header {
    --ar-figure: 1920/2120;
  }
  .header-image-2 {
    top: 23%;
  }
  .header-image-3 {
    --img-top: 0.36;
  }
  .header-image-3::after {
    height: 12rem;
  }
}
/* 1920px */
@media (min-width: 1920px) {
  .header {
    --ar-figure: 1920/1990;
  }
  .header-image-2 {
    top: 18%;
  }
  .header-image-3 {
    --img-top: 0.3;
  }
  .header-image-3::after {
    height: 18rem;
  }
}

/* navbar */
.header-navbar > * {
  transition-property: color, fill, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  cursor: pointer;
  fill: #fff;
  color: #fff;
  z-index: 5;
  border: none;
  text-decoration: none;
}
.header-navbar > *:hover {
  color: var(--clr-2);
  fill: var(--clr-2);
  transform: translateY(-0.5rem);
}
.nav-logo {
  margin-right: auto;
  font-family: var(--font-family-2);
  font-size: var(--font-size-2);
  line-height: var(--line-height-3);
}
.header-navbar {
  padding: 2.5rem 0;
  display: flex;
  align-content: center;
  align-items: center;
  gap: 2rem;
}
.nav-item {
  display: none;
}
.nav-user {
  margin-left: auto;
  font-size: var(--font-size-3);
}

@media (min-width: 720px) {
  .nav-item {
    display: block;
  }
}

/*  content */
.header-content {
  position: -webkit-sticky;
  position: sticky;
  top: calc(0.12 * var(--h-figure));
  z-index: 2;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.content-header {
  width: min(18ch, 90vw);
  font-family: var(--font-family-1);
  font-size: var(--font-size-4);
  line-height: var(--line-height-4);
}
.content-scroll {
  font-family: var(--font-family-1);
  line-height: var(--line-height-7);
}
.content-scroll picture {
  margin-left: 1ch;
  display: inline-block;
}
.content-scroll picture img {
  vertical-align: middle;
}
@media (min-width: 1080px) {
  .header-navbar {
    padding: 3rem 0;
  }
  .content-header {
    font-size: var(--font-size-5);
    line-height: var(--line-height-5);
  }
}
/* section 2 */
.main-content {
  counter-reset: section;
}

.card-image {
  height: 20rem;
  width: 80%;
  margin-inline: auto;
  display: block;
}
.main-content > .main-content-card:nth-child(2) .card-image img {
  -o-object-position: left;
  object-position: left;
}
.card-image > img {
  -o-object-fit: cover;
  object-fit: cover;
}

.card-item {
  margin: 5rem auto 12.5rem auto;
  position: relative;
}
.card-item::before {
  counter-increment: section;
  content: "0" counter(section);
  line-height: var(--line-height-6);
  font-size: var(--font-size-6);
  opacity: 0.1;
  position: absolute;
  left: -8.5rem;
  top: -5rem;
}

.card-header {
  font-family: var(--font-family-1);
  font-size: var(--font-size-7);
  line-height: var(--line-height-4);
  margin-top: 2rem;
  margin-bottom: 1.68rem;
  max-width: 15ch;
}
.card-paragraph {
  font-size: var(--font-size-3);
  line-height: var(--line-height-1);
  font-weight: 700;
  max-width: 54ch;
}

.card-yellow-arrow {
  color: var(--clr-2);
}
.card-yellow-arrow svg {
  margin-left: 2ch;
  fill: var(--clr-2);
  transform: rotate(270deg);
}
@media (min-width: 360px) {
  .card-image {
    width: min(37.5rem, 95%);
    height: 35rem;
  }
}
@media (min-width: 1080px) {
  .main-content-card {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 5rem auto 15rem auto;
    gap: 2rem;
  }
  .main-content > .main-content-card:nth-child(2) {
    flex-direction: row;
  }

  .card-image {
    width: 40%;
    height: 45rem;
    margin: 0;
  }

  .card-item {
    align-self: center;
    margin: 0;
  }
}
/* section 3 */
.footer {
  margin-bottom: 3rem;
}
.footer-list {
  list-style-type: none;
  margin-bottom: 4rem;
  padding-left: 0;
}
.list-header {
  font-size: var(--font-size-2);
  font-family: var(--font-family-1);
  margin-bottom: 1rem;
}
.list-par {
  max-width: 25ch;
  margin-bottom: 3rem;
}
.list-cc {
  max-width: 32ch;
  opacity: 0.6;
  margin-top: auto;
  color: var(--clr-1);
}

.list-yellow {
  color: var(--clr-2);
  font-size: var(--font-size-8);
  margin-bottom: 1rem;
}
@media (min-width: 1080px) {
  .footer {
    display: flex;
    gap: 3rem;
  }
  .footer-list {
    margin-bottom: 0;
  }
  .footer > :nth-child(2) {
    margin-left: auto;
  }
}
